:root{
  --bg: #6831af;
  --fr: #af8b31;
  --bl: #211c2c;
}
body{
  background-color: var(--bg);
  color: var(--fr);
  font-family: 'Ubuntu', sans-serif;
}
h1{
  background-color: var(--bl);
}
.logo{
  width: 10%;
}
.send{
  font-size: 1vw;
}
button{
  background-color: var(--bl);
  color: var(--fr);
  border: 0.1vw solid var(--fr);
  border-radius: 0.3vw;
  cursor: pointer;
}

.posts{
  width: 100%;
  background-color: var(--bl);
  display: grid;
  grid-template-columns: repeat(8, auto);
}
.post{
  margin: 1vw;
  width: 90%;
}
